@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

body,html {
  border: 0;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
}

.promotion-carousel {

  .promotions {
    width: 100%;
    height: 100%
  }

  .promotion {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden;

    .shade {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 50%);
      background-image: -moz-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 50%);
      background-image: -ms-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 50%);
      background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 50%);
      background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 50%);
    }
  }
}

.promo-text {
  color: #fff;
  position: relative;

  .copy {
    display: block;
    transition: color .2s,background-color .2s,opacity .2s;
    cursor: pointer;
  }
}

.promo-detail {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 100;
  width: 450px;
  margin-left: 30px;
  padding: 10% 10% 10% 0;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);

  @media (min-width: 1280px) {
    margin-left:90px;
  }

  @media (min-width: 1440px) {
    width:550px;
  }

  .headline {
    font-weight: 900;
    font-size: 22px;
    line-height: 1.15;
    margin-bottom: 5px;
    text-transform: uppercase
  }

  .body {
    color: #999;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 5px;
    text-transform: none
  }

  .buttons {
    padding: 15px 0
  }

  .button {
    box-sizing: content-box;
    height: auto;
    line-height: 1;
    padding: 15px 20px;
    width: auto
  }

  .button:first-child {
    background: #b10000;

    &:hover {
      border-color: #c00;
      background-color: #c00
    }
  }

  .dash {
    background: #b10000;
  }
}


@media (min-width: 667px) {
  .promo-detail {

    .promo-flag {
      background:0 0;
      display: block;
      font-weight: 900;
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 8px;
      margin-top: -7px;
      padding: 0;
      position: relative;
      text-transform: uppercase
    }

    .dash {
      display: block;
      height: 3px;
      margin-bottom: 10px;
      width: 30px
    }

    .headline {
      font-size: 36px;
      line-height: 1.1
    }

    .body {
      font-weight: 900;
      color: #fff;
      font-size: 14px;
      margin-bottom: 0;
      text-transform: none
    }
  }
}

@media (min-width: 840px) {
  .promo-detail {

    .headline {
      font-size:42px
    }

    .body {
      font-size: 18px
    }
  }
}

@media (min-width: 1024px) {
  .promo-detail {
    .dash {
      display:block;
      height: 3px;
      margin-bottom: 15px;
      width: 30px;
    }

    .headline {
      font-weight: 600;
      font-size: 56px;
      line-height: .85;
      margin-bottom: 15px;
      margin-left: -2px;

      &.medium {
        font-size: 50px;
      }

      &.long {
        font-size: 40px;
      }
    }

    .body {
      font-size: 18px;
      line-height: 1.4;
    }

    .button {
      padding: 12px;
    }
  }
}

@media (min-width: 1440px) {
  .promo-detail {
    .dash {
      height:4px;
      width: 40px;
    }

    .headline {
      font-size: 66px;

      &.medium {
        font-size: 56px;
        line-height: 1;
      }

      &.long {
        font-size: 46px;
        line-height: 1
      }
    }

    .promo-flag {
      font-size: 18px;
      line-height: 18px;
    }

    .body {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
}