<div class="promotion-carousel">
    <div class="promotions">
        {% for slide in slides %}
            <div class="promotion" id="section{{loop.index}}" style="background-image: url({{slide.backgroundImage}})">
                <div class="shade"></div>
                <div class="promo-detail cycle-overlay">
                    <div class="promo-text">
                        <span class="dash"></span>

                        {% if slide.promoFlag %}
                            <span class="promo-flag">{{slide.promoFlag}}</span>
                        {% endif %}

                        <a href="#" class="copy">
                            <div class="headline">{{slide.headline}}</div>
                            <p class="body long">{{slide.body}}</p>
                        </a>
                        <div class="buttons">
                            <a class="button sho-play-link" href="#"></span>Play Now</a>
                            <a class="button info-button" href="#">More Info</a>
                            <a class="button see-all" href="#">All Episodes</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="navigation">
    <ul>
        {% for slide in slides %}
            <li><a href="#section{{loop.index}}" data-number="{{loop.index}}"></a></li>
        {% endfor %}
    </ul>
</div>