{{> header}}
<div class="promotion-carousel">
    <div class="promotions">
        <div>
            <div class="promotion" style="background-image: url(&quot;https://www.showtime.com/tve/images/1033823/web_3462453_1440x900.jpg&quot;)">
                <div class="shade"></div>
                <div class="promo-detail cycle-overlay">
                    <div class="promo-text">
                        <span class="dash"></span>
                        <span class="promo-flag">New Series From Sacha Baron Cohen</span>
                        <a href="/#/episode/3462453" class="copy">
                            <div class="headline">Who Is America?</div>
                            <p class="body long">Season Finale: Sacha Baron Cohen explores our unique nation.</p>
                        </a>
                        <div class="buttons" data-category="">
                            <a class="button sho-play-link" data-action="play" data-play-title-id="3462453" href="#/play/3462453"><span class="icon icon-sm player play"></span>Play Now</a>
                            <a class="button info-button" data-action="info" href="/#/episode/3462453"><span class="icon player info"></span>More Info</a>
                            <a class="button see-all" data-action="see all" href="/#/series/1033823">All Episodes</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promotion" style="background-image: url(&quot;https://www.showtime.com/tve/images/408/web_408_1440x900.jpg&quot;)">
                <div class="shade"></div>
                <div class="promo-detail cycle-overlay">
                    <div class="promo-text">
                        <span class="dash"></span>
                        <span class="promo-flag">Season 9 Premieres September 9</span>
                        <a href="/#/series/408" class="copy">
                            <div class="headline">Shameless</div>
                            <p class="body long">A scrappy, fiercely loyal Chicago family makes no apologies. Watch Seasons 1-8 now.</p>
                        </a>
                        <div class="buttons" data-category="">
                            <a class="button info-button" data-action="info" href="/#/series/408"><span class="icon player info"></span>More Info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promotion" style="background-image: url(&quot;https://www.showtime.com/tve/images/0/web_3453707_1440x900.jpg&quot;)">
                <div class="shade"></div>
                <div class="promo-detail cycle-overlay">
                    <div class="promo-text">
                        <span class="dash"></span>
                        <span class="promo-flag"></span>
                        <a href="/#/movie/3453707" class="copy">
                            <div class="headline">Baby Driver</div>
                            <p class="body long">A young getaway driver (Ansel Elgort) meets the girl of his dreams (Lily James), and tries to ditch his criminal life.</p>
                        </a>
                        <div class="buttons" data-category="">
                            <a class="button sho-play-link" data-action="play" data-play-title-id="3453707" href="#/play/3453707"><span class="icon icon-sm player play"></span>Play Now</a>
                            <a class="button info-button" data-action="info" href="/#/movie/3453707"><span class="icon player info"></span>More Info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promotion" style="background-image: url(&quot;https://www.showtime.com/tve/images/1033856/web_3458949_1440x900.jpg&quot;)">
                <div class="shade"></div>
                <div class="promo-detail cycle-overlay">
                    <div class="promo-text">
                        <span class="dash"></span>
                        <span class="promo-flag"></span>
                        <a href="/#/episode/3458949" class="copy">
                            <div class="headline medium">Our Cartoon President</div>
                            <p class="body long">Season Finale - Militarization: Our Cartoon President militarizes the government. </p>
                        </a>
                        <div class="buttons" data-category="">
                            <a class="button sho-play-link" data-action="play" data-play-title-id="3458949" href="#/play/3458949"><span class="icon icon-sm player play"></span>Play Now</a>
                            <a class="button info-button" data-action="info" href="/#/episode/3458949"><span class="icon player info"></span>More Info</a>
                            <a class="button see-all" data-action="see all" href="/#/series/1033856">All Episodes</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promotion" style="background-image: url(&quot;https://www.showtime.com/tve/images/0/web_3461169_1440x900.jpg&quot;)">
                <div class="shade"></div>
                <div class="promo-detail cycle-overlay">
                    <div class="promo-text">
                        <span class="dash"></span>
                        <span class="promo-flag"></span>
                        <a href="/#/movie/3461169" class="copy">
                            <div class="headline medium">Captain Fantastic</div>
                            <p class="body long">A father (Viggo Mortensen) raising his six kids is forced to leave his paradise, challenging his idea of what it means to be a parent.</p>
                        </a>
                        <div class="buttons" data-category="">
                            <a class="button sho-play-link" data-action="play" data-play-title-id="3461169" href="#/play/3461169"><span class="icon icon-sm player play"></span>Play Now</a>
                            <a class="button info-button" data-action="info" href="/#/movie/3461169"><span class="icon player info"></span>More Info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promotion" style="background-image: url(&quot;https://www.showtime.com/tve/images/0/web_3446898_1440x900.jpg&quot;)">
                <div class="shade"></div>
                <div class="promo-detail cycle-overlay">
                    <div class="promo-text">
                        <span class="dash"></span>
                        <span class="promo-flag"></span>
                        <a href="/#/movie/3446898" class="copy">
                            <div class="headline">Home Again</div>
                            <p class="body long">Newly single Alice (Reese Witherspoon) meets three aspiring filmmakers in need of a place to stay.</p>
                        </a>
                        <div class="buttons" data-category="">
                            <a class="button sho-play-link" data-action="play" data-play-title-id="3446898" href="#/play/3446898"><span class="icon icon-sm player play"></span>Play Now</a>
                            <a class="button info-button" data-action="info" href="/#/movie/3446898"><span class="icon player info"></span>More Info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promotion" style="background-image: url(&quot;https://www.showtime.com/tve/images/1031103/web_1031103_1440x900.jpg&quot;)">
                <div class="shade"></div>
                <div class="promo-detail cycle-overlay">
                    <div class="promo-text">
                        <span class="dash"></span>
                        <span class="promo-flag"></span>
                        <a href="/#/series/1031103" class="copy">
                            <div class="headline">The Affair</div>
                            <p class="body long">Noah, Alison, Helen and Cole are on separate journeys, but question what they’re holding on to as their lives keep crashing back into one another.</p>
                        </a>
                        <div class="buttons" data-category="">
                            <a class="button info-button" data-action="info" href="/#/series/1031103"><span class="icon player info"></span>More Info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promotion" style="background-image: url(&quot;https://www.showtime.com/tve/images/0/web_3446915_1440x900.jpg&quot;)">
                <div class="shade"></div>
                <div class="promo-detail cycle-overlay">
                    <div class="promo-text">
                        <span class="dash"></span>
                        <span class="promo-flag"></span>
                        <a href="/#/movie/3446915" class="copy">
                            <div class="headline medium">The Girl On The Train</div>
                            <p class="body long">A woman (Emily Blunt), devastated by her divorce, becomes entangled in a mystery after witnessing a shocking event.</p>
                        </a>
                        <div class="buttons" data-category="">
                            <a class="button sho-play-link" data-action="play" data-play-title-id="3446915" href="#/play/3446915"><span class="icon icon-sm player play"></span>Play Now</a>
                            <a class="button info-button" data-action="info" href="/#/movie/3446915"><span class="icon player info"></span>More Info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promotion" style="background-image: url(&quot;https://www.showtime.com/tve/images/0/web_3462279_1440x900.jpg&quot;)">
                <div class="shade"></div>
                <div class="promo-detail cycle-overlay">
                    <div class="promo-text">
                        <span class="dash"></span>
                        <span class="promo-flag"></span>
                        <a href="/#/movie/3462279" class="copy">
                            <div class="headline">Rosewater</div>
                            <p class="body long">A journalist gets arrested in Iran and is held and tortured for 118 days.</p>
                        </a>
                        <div class="buttons" data-category="">
                            <a class="button sho-play-link" data-action="play" data-play-title-id="3462279" href="#/play/3462279"><span class="icon icon-sm player play"></span>Play Now</a>
                            <a class="button info-button" data-action="info" href="/#/movie/3462279"><span class="icon player info"></span>More Info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promotion" style="background-image: url(&quot;https://www.showtime.com/tve/images/0/web_13579400_1440x900.jpg&quot;)">
                <div class="shade"></div>
                <div class="promo-detail cycle-overlay">
                    <div class="promo-text">
                        <span class="dash"></span>
                        <span class="promo-flag"></span>
                        <a href="/#/collection/wwiicollection" class="copy">
                            <div class="headline">WWII Collection</div>
                            <p class="body long">This collection features films that all take place during the cataclysmic World War II era. Take the time to watch them all.</p>
                        </a>
                        <div class="buttons" data-category="">
                            <a class="button see-all" data-action="see all" href="/#/collection/wwiicollection">See Entire Collection</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}